* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ubuntu", "sans-serif";
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fed8cb;
  display: table-cell;
  vertical-align: middle;
}

.container {
  overflow: hidden;

  width: 100vw;
  max-width: 400px;
  min-height: 400px;

  margin: 0 auto;
  padding: 20px;

  display: flex;
  flex-direction: column;
  flex: 1;

  border-radius: 12px;

  background-color: #fed8cb;
}

.minha-foto {
  text-align: center;
  padding-top: 20px;
  width: 50% auto;

  position: relative;
}

.minha-foto img {
  width: 100%;
  max-width: 280px;

  border-radius: 32px;
}

.logo {
  text-align: center;
  margin-top: -110px;
}

.logo img {
  width: 100%;
  max-width: 280px;
}

.frase-destaque {
  padding: 10px 20px 20px;
  line-height: 1em;
  text-align: center;
  font-weight: 600;

  color: black;
  background-color: rgba;

  position: relative;
}

.links {
  min-height: 40px;
  padding: 10px 10px 5px;
  text-align: center;

  margin-top: -100px;
}

.links button {
  cursor: pointer;

  background-color: #fc7474;
  border: none;
  color: white;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 10px;
  width: 80%;
}

.links button:hover {
  transition: 600ms;
  background-color: #ff3333;
}

.links ul#links {
  overflow: hidden;
  list-style: none;
  display: flex;
  margin-left: -500px;
  width: 50%;
  justify-content: center;
  height: 0;
  transition: height 0.3s linear;
}

.links ul#links.active {
  height: 60px;
  margin-left: 0;
  width: 100%;
  transition: height 0.3s linear, width 0.2s linear, margin-left 0.5s linear;
}

.links ul#links.rotate {
  margin-left: -500px;
  height: 60px;
  transition: width 0.3s linear, margin-left 0.5s linear;
}

.link {
  margin: 0 30px;
}

.links ul#links li a {
  display: block;

  padding: 12px;

  background-color: #fc7474;
  color: white;

  border-radius: 100%;

  height: 50px;
  width: 50px;
}

.links ul#links li a:hover {
  transition: 600ms;
  animation: rotation 1s infinite reverse;

  background-color: #ff3333;
}

.links ul#links.active a {
  animation: rotation 0.5s 2 linear;
}

.links ul#links.rotate a {
  animation: rotation 0.5s infinite linear;
}

.links ul#links li a i {
  margin: 6px 0 4px 0;
}

.btn-externos {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-bottom: 5px;
  width: 61.5%;
}

.btn-externos a {
  display: block;
  margin: 5px 10px;
  text-align: center;
  background-color: #fc7474;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 0.9em;
  text-decoration: none;
}

.btn-externos a:hover {
  transition: 600ms;
  background-color: #ff3333;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
